<plugin name='akanoo-core' version='0.1-SNAPSHOT' grailsVersion='2.2 &gt; *'>
  <author>Fabian Gebert</author>
  <authorEmail>fabian@akanoo.com</authorEmail>
  <title>Akanoo Core Plugin</title>
  <description>Collaborative note taking app</description>
  <documentation>http://grails.org/plugin/akanoo-core</documentation>
  <type>AkanooCoreGrailsPlugin</type>
  <resources>
    <resource>com.akanoo.AkanooController</resource>
    <resource>com.akanoo.Board</resource>
    <resource>com.akanoo.Note</resource>
    <resource>com.akanoo.AtmosphereService</resource>
    <resource>com.akanoo.ClientService</resource>
    <resource>com.akanoo.UserServiceInterface</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <test>
      <dependency group='org.grails' name='grails-plugin-testing' version='2.2.0.RC1' />
    </test>
    <compile>
      <dependency group='org.atmosphere' name='atmosphere-runtime' version='1.0.0' />
      <dependency group='com.akanoo' name='akanoo-frontend' version='0.1-SNAPSHOT' />
      <dependency group='org.atmosphere' name='atmosphere-gwt-server' version='1.0.0' />
      <dependency group='com.google.gwt' name='gwt-servlet' version='2.4.0' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>