.canvasLink {
	border-radius: 8px 8px 0 0;
	padding: 7px 16px 9px;
	height: 20px;
	background: #DDD;
	margin: 8px 8px 0 0;
}

.canvasAnchor {
	text-decoration: none;
	color: #888 !important;
	font-size: 110%;
	display: inline-block;
	padding: 4px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 150px;
}

.canvasAnchor:hover {
	text-decoration: none;
	background: #888;
	color: white !important;
}

.canvasLink:hover, .canvasLink:hover .canvasAnchor{
	text-decoration: none;
	background: #888;
	color: white !important;
}

.canvasLink.active {
	box-shadow: inset 1px 1px 4px rgba(100,100,100,0.5);
	background: #888;
	cursor: default;
}

.canvasLink.active .canvasAnchor{
	color: white !important;
	cursor: default;
}

@sprite .optionsButton {
	gwt-image: "settings";
	background-position: 4px 4px;
	outline: none;
	border: none;
	margin-left: 4px;
	padding: 4px;
}

@sprite .optionsButton:hover{
	gwt-image: "settingsHover";
	background-position: 4px 4px;
	background-color: white;
}
